@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900");

:root {
  --weight-light: 300;
  --weight-normal: 400;
  --weight-strong: 600;
  --weight-bold: 700;
  --weight-black: 900;

  --color-background-2: #242526;
  --color-text: #f4f4f4;
  --color-green: #00C97C;
  --color-green-2: #4ac29a;
  --color-background: #18181a;
  --color-background-input: #4e4c4c;
  --color-border-input: #8f8c8c;

  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

/* Reset básico */
body,
h1,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input {
  color: var(--color-text);
}
h1 {
  font-weight: var(--weight-light);
  font-size: 1.8em;
}

input[type="text"] {
  font-size: 1.5rem;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--color-border-input);
  border-radius: 10px;
  background-color: var(--color-background-input);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

input[type="text"]::placeholder {
  color: var(--color-text);
  font-weight: 300;
}

input[type="text"]:focus {
  border-color: var(--color-green);
  /* box-shadow: 0 0 0 4px rgba(235, 238, 0, 0.25); */
  outline: none;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-montserrat);

  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  padding: 10px;
  border-bottom: 1px solid var(--color-background-2);
  border-right: 1px solid var(--color-background-2);
}
button {
  padding: 0.5em 1em;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  white-space: nowrap;
  background: linear-gradient(135deg, var(--color-green), var(--color-green-2));
  color: var(--color-background-2);
}

button:hover {
  background: linear-gradient(135deg, var(--color-green-2), var(--color-green));
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

svg {
  width: 16px;
  height: 16px;
}

.h1_title {
  font-size: 2em;
  text-align: center;
}
.h2_title {
  font-size: 1.5em;
  text-align: left;
  font-weight: var(--weight-light);
}

#profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile {
  width: 100%;
  padding: 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.profile img {
  width: 90px;
  height: auto;
  border-radius: 50%;
  margin: auto;
}

.profile_header {
  width: 80%;
  padding: 20px;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_header p {
  width: 70%;
  margin: 0 auto;
  line-height: 1.5;
  text-align: center;
}

#main-container {
  display: flex;
  flex: 1;

  overflow-y: hidden;
}

.header-navigation{
  width: 20%;
}

#category-menu {
  
  border-right: 1px solid var(--color-background-2);
  padding: 20px;
}
#category-menu > .h2_title {
  margin-top: 0;
}

#category-menu ul {
  width: auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  flex-wrap: wrap;
  padding: 5px 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: thin;
  padding-bottom: 10px;
}
#category-menu ul::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem (Webkit) */
}
#category-menu ul::-webkit-scrollbar-thumb {
  background-color: var(--color-green); /* Cor da barra de rolagem */
  border-radius: 4px; /* Bordas arredondadas */
}
#category-menu ul::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-background-2); /* Cor ao passar o mouse */
}

#category-menu button {
  width: 100%;
}

#product-gallery {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.touch{
  display: none;
  width: 0;
  height: 0;
  visibility: hidden;
}

/* Estilização do container flexível */
#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#selected-category {
  font-size: 1.5em;
  margin: 0;
}

#search-container {
  flex: 1;
  text-align: right;
}

#search-input {
  max-width: 40%;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

#search-input:focus {
  border-color: #4ac29a;
}

/* Estilização do container de produtos */
#product-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2em;
}

/* Estilização dos cards de produtos */
.product-card {
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: var(--color-background-2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  position: relative;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-card .img-container {
  width: auto;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  padding: 5px;

  background-color: #ffff;
}

.product-card img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  margin: auto;
  border: 0;
  border-radius: 10px;
  object-fit: cover;
}

.product_info {
  padding: 0.5em;
}

.product_title {
  font-size: 1.2em;
  font-weight: var(--weight-light) !important;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limita a 3 linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.product_price {
  font-size: 1em;
  color: #36ba9b;
}

.product_ranking {
  margin-bottom: 4em;
}

.buy_button {
  width: 70%;
  margin: 10px auto 0 auto;

  position: absolute;
  right: 10px;
  left: 10px;
  bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

/* Estilização moderna para os links */
a {
  text-decoration: none; /* Remove o sublinhado padrão */
  font-weight: bold; /* Deixa o texto mais destacado */
  transition: color 0.3s ease, transform 0.3s ease; /* Transição suave para cor e escala */
}

a:hover {
  transform: scale(1.05); /* Leve aumento no tamanho */
}

a:active {
  color: #4ac29a; /* Cor ao clicar no link */
  transform: scale(0.95); /* Leve redução no tamanho ao clicar */
}

/* Responsividade para telas menores */
@media (max-width: 1024px) {
  h2,
  h3 {
    font-size: 1em !important;
  }
  h1 {
    font-size: 1.2em !important;
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
  }

  header{
    border-right: none;
  }
  
  .touch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    visibility: visible;

    padding: 0.5em;
  }

  .touch svg{
    fill: var(--color-text);
  }

  #profile {
    flex-direction: column;
    justify-content: center;
  }
  #profile .profile {
    width: auto;
    flex-direction: row;
    gap: 1.4em;
    align-items: center;
    justify-content: center;
  }

  #profile .profile img {
    width: 60px;
    height: auto;
  }

  #profile .profile > div {
    display: flex;
    gap: 0.5em;
    text-align: start;
    flex-direction: column;
  }
  .profile_header {
    width: 100%;
    padding: 0;
  }

  #main-container {
    flex-direction: column; /* Empilha o menu e o conteúdo principal */
  }

  #category-menu {
    width: auto; /* O menu ocupa toda a largura */
    border-right: none;
    border-bottom: 1px solid var(--color-background-2); /* Adiciona uma borda inferior */
    padding: 10px;
  }

  .header-navigation {
    width: auto; /* O menu ocupa toda a largura */
    padding: 10px;
  }

  #product-gallery {
    width: auto; /* A galeria ocupa toda a largura */
    margin-top: 1em;
  }

  #product-list-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .product_ranking {
    margin-bottom: 2.7em;
  }
}

/* Responsividade para a div#profile */
@media (max-width: 768px) {
  #product-list-container {
    grid-template-columns: repeat(auto-fill, minmax(161px, 1fr));
  }

  .product-card {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

    overflow: hidden;
  }

  .img-container {
    width: auto !important;
    height: 161px !important;

    border-radius: 0 !important;
  }
  .img-container img {
    border-radius: 5px;
    width: 160px;
    height: 160px;
    object-fit: contain;
  }
  .buy_button {
    font-size: 0.8em;
  }

  #category-menu button {
    flex: 1 1 calc(50% - 10px); /* Botões ocupam 50% da largura em telas menores */
    font-size: 0.8em;
  }


  #search-container {
    width: 100%; /* O campo de busca ocupa toda a largura */
    text-align: left; /* Alinha o texto à esquerda */
  }

  #header-container #selected-category {
    flex: 1;
  }

  #search-container {
    flex: 1;
  }

  #search-container #search-input {
    min-width: calc(100% - 23px);
  }




  #profile {
    flex-direction: column; /* Empilha os elementos */
    align-items: center; /* Centraliza os itens */
    text-align: center; /* Centraliza o texto */
    gap: 1em; /* Adiciona espaçamento entre os elementos */
  }

  .profile {
    width: 100%; /* Ajusta a largura para ocupar todo o espaço */
    padding: 10px; /* Reduz o padding */
  }

  .profile img {
    width: 80px; /* Reduz o tamanho da imagem */
  }

  .profile_header {
    width: 100%; /* Ajusta a largura para telas menores */
    padding: 10px; /* Reduz o padding */
  }

  .profile_header h1 {
    font-size: 1.2em; /* Reduz o tamanho da fonte */
  }
}

/*para dispositivos menores de 480px*/
@media (max-width: 480px) {
  #header-container{
    text-align: left;
    flex-direction: column;
  }
  #search-input {
    min-width: calc(100% - 23px);
    margin-top: 20px;
  }
  #category-menu ul {
    flex-wrap: nowrap;
    overflow-y: auto;
    scrollbar-width: thin;
  }
  #category-menu button {
    flex: 1 1 100%; /* Botões ocupam 100% da largura em telas muito pequenas */
  }
  #profile {
    gap: 0.5em; /* Reduz o espaçamento para telas muito pequenas */
  }

  .profile img {
    width: 60px; /* Reduz ainda mais o tamanho da imagem */
  }

  .profile_header h1 {
    font-size: 1em; /* Ajusta o tamanho da fonte para telas menores */
  }
}

/* Estilização do popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup.hidden {
  display: none;
}

.popup-content {
  background-color: #18181a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.popup-content p {
  font-size: 1em;
  margin-bottom: 20px;
  line-height: 1.5;
}

footer {
  margin-top: 20px;
  font-size: 0.8em;
  border-top: 1px solid var(--color-background-2);
  padding: 20px 0;
  text-align: center;
}
